[submodule "third_party/sokol"]
	path = third_party/sokol
	url = https://github.com/floooh/sokol
[submodule "third_party/sokol-tools"]
	path = third_party/sokol-tools
	url = https://github.com/floooh/sokol-tools
[submodule "third_party/sokol-tools-bin"]
	path = third_party/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin
[submodule "third_party/libdatachannel"]
	path = third_party/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "third_party/datachannel-wasm"]
	path = third_party/datachannel-wasm
	url = https://github.com/paullouisageneau/datachannel-wasm.git
